/* L'étoile * permet de donner du style à TOUS les éléments de la page */
* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; = utile pour visualiser tous les éléments et "boîtes" de la page */
}

body {
    background: url('3.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(188, 227, 209);
    max-width: 100%;
}

h1 {
    word-spacing: 0.3rem;
    text-align: center;
    margin: 30px;
    text-shadow: rgba(12, 26, 15, 0.993) 10px 5px 10px;
    -webkit-text-stroke: 2px black;
    font-size: 2.5rem;
    font-weight: bold;
}


/*****  CSS Flexbox / Boîte n°1  *****/
/*****     RECHERCHE PAR NOM     *****/

.flexboxRecherche {
    padding: 50px;
    margin: 80px 0 70px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* BARRE DE RECHERCHE */

label[for="characterInput"] {
    display: block;
    margin-bottom: 10px; 
}

#characterInput {
    margin: 15px;
    padding: 10px;
    width: 250px;
    border: 3px solid rgb(38, 75, 63);
    border-radius: 50px;
    background-color: rgba(189, 212, 201, 0.897);
    text-align: center;
    box-shadow: 0px 0px 20px 6px #0b0c0ca2;
    transition: 0.2s;
    font-size: 15px;
    color: rgba(2, 32, 22, 0.785);
    font-weight: bold;
}
#characterInput:hover {
    border: 6px solid rgba(26, 40, 36, 0.868);
}

button {
    padding: 10px;
    width: 60px; 
    height: 45px; 
    border: 3px solid rgba(25, 48, 41, 0.68);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.614);
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 20px 6px #0b0c0ca2;
}
button:hover {
    background-color:rgba(94, 179, 151, 0.612);
    border: 6px solid rgba(0, 0, 0, 0.509);
}


/* FICHES PERSONNAGES */

.fichesPersonnages {
    padding: 25px;
} 

.fichesPersonnages img {
    width: 85%;
    margin: 5px 0 10px 12px;
    border-radius: 10px;
}

.fichesPersonnages h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
    margin: 10px 0 10px 0;
    text-shadow: rgba(2, 2, 2, 0.9) 5px 2px 8px;
}

.fichesPersonnages p {
    font-weight: bold;
    text-align: center;
    font-size: medium;
    text-shadow: rgba(2, 2, 2, 0.9) 5px 2px 8px;
}


/*****  CSS Flexbox / Boîte n°2  *****/
/*****       GRAPHIQUES          *****/
.flexboxGraphs {
    padding: 15px;
    margin: 10px 0 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#myChart, #myChart1 {
    margin: 10px;
    padding: 0;
    max-height: 88%;
    max-width: 30%;
    border: 2px solid rgba(0, 0, 0, 0.765);
    box-shadow: 0px 0px 20px 6px #0b0c0cd7;
    border-radius: 10px;
    background-color: rgba(188, 227, 209, 0.776);
}


/*****       CSS Grid / Boîte n°3       *****/
/*****  LISTE COMPLETE DES PERSONNAGES  *****/
.gridList {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 70px 10px 70px;
    padding-top: 20px;
    background-color: rgba(188, 227, 209, 0.564);
    box-shadow: 0px 0px 20px 6px #0b0c0c;
    color: black;
}

.gridList h3 {
    padding: 20;
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-transform:uppercase;
    text-shadow: rgba(56, 56, 55, 0.539) 10px 6px 7px;
}

.gridList ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: 10px;
    list-style: none;
    padding: 0;
    color: black;
    font-weight: bold;
}

.gridList li {
    list-style: none;
}

.gridList summary {
    cursor: pointer;
}

.hide-summary {
    display: none;
}

.gridList img {
    width: 80%;
    max-width: 200px;
    margin: 5px 8px 15px 8px;
    border-radius: 10%;
}

.gridList p {
    margin: 5px 5px 5px 15px;
    font-weight: normal;
    text-align: justify;
    text-transform: capitalize;
}


/* LECTEUR AUDIO */
audio {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    width: 12%;
}


/* BOUTON RETOUR VERS LE HAUT */
.scroll-to-top {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.scroll-to-top img {
    height: 80px;
}


/* BAS DE PAGE - FOOTER */
footer {
    text-align: center;
    font-size: 12px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    text-transform:uppercase;
    word-spacing: 0.2rem;
}

h5 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    word-spacing: 0.2rem;
}
